@import "tailwindcss";
@plugin "daisyui" {
    themes: black --default;
}

/* Floating Glow Effect */
.glow-effect {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.712) 0%, rgba(255, 255, 255, 0) 70%);
    pointer-events: none;
    z-index: 1;
    mix-blend-mode: screen;
    filter: blur(40px);
    opacity: 0;
}

.glow-effect.active {
    opacity: 1;
}