body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.hero {
  background: linear-gradient(to bottom, #ffe5ec, #ffffff);
  text-align: left;
}

.navbar-to-hero {
  background: linear-gradient(
    to bottom,
    #ffe5ec,
    #ffffff
  ); /* 这里使用和hero相同的渐变，可根据需求调整 */
}

.pink-from-top-to-bottom {
  background: linear-gradient(to bottom, #fff7f9, #ffffff);
}

.pink-from-bottom-to-top {
  background: linear-gradient(to top, #fff4f7, #ffffff);
}

@keyframes meteor-fly {
  0% {
    right: -100px;
    opacity: 1;
  }
  100% {
    right: 100%;
    opacity: 0;
  }
}

/* Hero 背景流星 */
.hero::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -100px;
  width: 200px;
  height: 4px;
  background: linear-gradient(
    to left,
    rgba(255, 117, 140, 0),
    rgb(107, 106, 106)
  );
  transform: translateY(-50%);
  animation: meteor-fly 8s linear infinite;
}

.hero::before:nth-of-type(1) {
  top: 10%;
  animation: meteor-fly 3s linear infinite;
}
.hero::before:nth-of-type(2) {
  top: 20%;
  animation: meteor-fly 4s linear infinite;
}
.hero::before:nth-of-type(3) {
  top: 30%;
  animation: meteor-fly 5s linear infinite;
}
.hero::before:nth-of-type(4) {
  top: 40%;
  animation: meteor-fly 6s linear infinite;
}
.hero::before:nth-of-type(5) {
  top: 50%;
  animation: meteor-fly 7s linear infinite;
}
.hero::before:nth-of-type(6) {
  top: 60%;
  animation: meteor-fly 8s linear infinite;
}
.hero::before:nth-of-type(7) {
  top: 70%;
  animation: meteor-fly 9s linear infinite;
}
.hero::before:nth-of-type(8) {
  top: 80%;
  animation: meteor-fly 10s linear infinite;
}
.hero::before:nth-of-type(9) {
  top: 90%;
  animation: meteor-fly 11s linear infinite;
}
.hero::before:nth-of-type(10) {
  top: 100%;
  animation: meteor-fly 12s linear infinite;
}

/* Hero 背景颜色 */

.hero {
  position: relative;
  background: linear-gradient(to bottom, #eaeaea, #ffffff);
  text-align: left;
  overflow: hidden;
}

.hero-title {
  background: linear-gradient(to bottom, #000000, #6d6d6d);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gray-text {
  background: linear-gradient(to bottom, #000000, #6d6d6d);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar-to-hero {
  background: linear-gradient(
    to bottom,
    #ffe5ec,
    #ffffff
  ); /* 这里使用和hero相同的渐变，可根据需求调整 */
}

/* 自定义图片样式 */
.custom-img {
  max-width: 100%;
  max-height: 350px; /* 可根据实际需求调整最大高度 */
  object-fit: contain; /* 让图片按比例缩放并完全包含在容器内 */
}

.masonry {
  /* 清除浮动 */
  overflow: hidden;
}

.masonry .item {
  box-sizing: border-box;
  float: left;
  width: 33.3333%; /* 一列三张图片 */
  padding: 0 8px;
  margin-bottom: 16px;
}

.the-post-content p {
  margin-top: 25px;
  margin-bottom: 25px;
  text-indent: 2em;
}

.the-post-content a {
  text-decoration: underline;
  font-weight: bold;
}

.link-underline {
  text-decoration: underline;
}

.drawer .navbar {
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(16.5px);
  margin-bottom: 100px;
}
