*{
  -moz-user-select: none;
  -o-user-select:none;
  -khtml-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.hero {
  background: linear-gradient(to bottom, #ffffff, #ffffff);
  text-align: left;
}

.navbar-to-hero {
  background: linear-gradient(
    to bottom,
    #ffe5ec,
    #ffffff
  ); /* 这里使用和hero相同的渐变，可根据需求调整 */
}

.pink-from-top-to-bottom {
  background: linear-gradient(to bottom, #fff7f9, #ffffff);
}

.pink-from-bottom-to-top {
  background: linear-gradient(to top, #ffffff, #ffffff);
}

@keyframes meteor-fly {
  0% {
    right: -100px;
    opacity: 1;
  }
  100% {
    right: 100%;
    opacity: 0;
  }
}


/* Hero 背景颜色 */

.hero {
  position: relative;
  background: none;
  text-align: left;
  overflow: hidden;
}

.hero-title {
  background: linear-gradient(to bottom, #000000, #6d6d6d);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gray-text {
  background: linear-gradient(to bottom, #000000, #6d6d6d);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar-to-hero {
  background: linear-gradient(
    to bottom,
    #ffe5ec,
    #ffffff
  ); /* 这里使用和hero相同的渐变，可根据需求调整 */
}

/* 自定义图片样式 */
.custom-img {
  max-width: 100%;
  max-height: 350px; /* 可根据实际需求调整最大高度 */
  object-fit: contain; /* 让图片按比例缩放并完全包含在容器内 */
}

.masonry {
  /* 清除浮动 */
  overflow: hidden;
}

.masonry .item {
  box-sizing: border-box;
  float: left;
  width: 33.3333%; /* 一列三张图片 */
  padding: 0 8px;
  margin-bottom: 16px;
}

.the-post-content p {
  margin-top: 25px;
  margin-bottom: 25px;
  text-indent: 2em;
}

.the-post-content a {
  text-decoration: underline;
  font-weight: bold;
}

.link-underline {
  text-decoration: underline;
}

.drawer .navbar {
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(16.5px);
  margin-bottom: 100px;
}


.posts {
  width: 80%;
}